@model SawyerAir.Models.Card

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Successful Payment !</h1>
<p style="margin-left:200px" >
    Thank you for flying with SawyerAir!
</p>

    <a asp-controller="Home" asp-action="Index">Go back to home page</a>
</div>
