@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<head>
    <style>

    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p style="margin-left:200px"> Your email has been validated succesfully ! You can now log into your new accout !  </p>
    <br />
    <br />
    <p>Have fun travelling around the world with SawyerAir</p>
</body>