@page
@model LogoutModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p> Are you sure you want to log out of your account ? </p>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="button button1">Yes, logout</button>
    </form>
</header>